<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>App Fragments</title>
</head>
<body>


<nav th:fragment = "nav-header" class="navbar navbar-expand-sm bg-dark navbar-dark navbar-fixed-top" >
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">User Data Base</a>
        </div>
        <!--<div class="navbar-collapse collapse">-->
            <ul class="navbar-nav navbar-right">
                <li class="nav-item" ><a class="nav-link" href="/logout">Logout</a></li>
            </ul>
        <!--</div>-->
    </div>
</nav>

<div th:fragment = "nav-left-sidebar-admin" class="list-group margin-b-3">
    <a href="/admin/list" class="active list-group-item">Admin</a>
    <a href="/admin/home" class="list-group-item">User</a>
</div>

<div th:fragment = "nav-left-sidebar-user" class="list-group margin-b-3">
    <a href="/admin/list" class=" list-group-item">Admin</a>
    <a href="/admin/home" class="active list-group-item">User</a>
</div>

<div th:fragment = "users-list-page" class="container">
    <h3>All users</h3>


        <table table class="table table-striped">
            <thead>
            <tr>
                <th>Username</th>
                <th>Password</th>
                <th>Role</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>

            <tr th:each="tempUser: ${users}">

                <td th:text="${tempUser.username}"></td>
                <td th:text="${tempUser.password}"></td>
                <td>
                    <div th:each="role: ${tempUser.roleSet}">
                        <a th:text="${role.viewName}">, </a>
                    </div>
                </td>

                <td>
                    <!--<a th:href="@{/edit/{id}(id=${tempUser.id})}" class="btn btn-primary btn-sm">Edit</a>-->


                    <button type="button"
                            class="btn btn-primary btn-sm"
                            data-toggle="modal"
                            data-target="#editUserModal"
                            th:data-user="${tempUser.username}"
                            th:data-id="${tempUser.id}"
                            th:data-password="${tempUser.password}"
                            th:data-roleSet="${tempUser.roleSet}">
                        Edit
                    </button>

                    <script>
                        function roleListToString(roleList) {
                            var result = ""
                            for (var i = 0; i < roleList.length; i++) {
                                result= result + ";" + roleList[i]
                            }
                            return result
                        }
                    </script>

                    <a onclick="if (!(confirm('Are you sure you want to delete this customer?'))) return false" th:href="@{/delete/{id}(id=${tempUser.id})}" class="btn btn-danger btn-sm">
                        <i>Delate</i>
                    </a>
                </td>

            </tr>
            </tbody>

        </table>



</div>

<div th:fragment = "add-user-page" class="container">
    <div class="panel-body">
        <form action="#"
              th:action="@{/saveUser}"
              th:object="${user}"
              method="post"
              cssClass="form-horizontal"
              modelAttribute="user">

            <input hidden path="id" id="id" name="id" th:value="${user.id}"/>

            <div class="form-group">
                <label for="name" class="col-form-label">Username</label>
                <input type="text" th:field="*{username}" class="form-control" id="name" placeholder="Username">
                <span th:if="${#fields.hasErrors('username')}" th:errors="*{username}" class="text-danger"></span>
            </div>


            <div class="form-group">
                <label for="password" class="col-form-label">Password</label>
                <input type="password" th:field="*{password}" class="form-control" id="password" placeholder="Password">
                <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label for="roleNew" class="col-md-3 control-label">Role</label>
                <div class="col-md-9" >

                    <select multiple id="roleNew" name="role">
                        <option th:each="role : ${roleList}"
                                th:value="${role.name}"
                                th:utext="${role.viewName}"
                        />
                    </select>
                </div>
            </div>

            <div class="form-group">
                <!-- Button -->
                <div class="col-md-offset-3 col-md-9">
                    <input type="submit" class="btn btn-primary" value="Submit">
                </div>
            </div>

        </form>
    </div>
</div>



</body>
</html>