<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layouts/main-layout :: main-fragment(
                                                ~{::title},
                                                ~{:: #home-static-resources},
                                                ~{fragments/app-fragments :: nav-header},
                                                ~{/fragments/app-fragments :: nav-left-sidebar-admin},
                                                ~{:: #home-main-content}
                                               )}">

<head>
    <title>Admin page</title>

    <th:block id="home-static-resources">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">-->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <style id="holderjs-style" type="text/css"></style>
        <script src="/static/adminPortalUtils.js" th:src="/static/adminPortalUtils.js"></script>

    </th:block>

</head>
<body>

<div id="home-main-content">
    <br>
    <div class="row">
        <h2 class="col-md-12" style="text-align: left;">Admin panel</h2>
    </div>

    <div class="row-fluid">

        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#usersList">Users table</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#addUser">New user</a>
            </li>
        </ul>

        <div class="tab-content">
            <div id="usersList" class="container tab-pane active"><br>
                <div th:replace="~{fragments/app-fragments :: users-list-page}">

                </div>
            </div>
            <div id="addUser" class="container tab-pane fade"><br>
                <div th:replace="~{fragments/app-fragments :: add-user-page}">

                </div>


            </div>
        </div>


    </div>


    <div class="modal fade" id="editUserModal" tabindex="-1" role="dialog" aria-labelledby="editUserModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">

                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Edit user</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">

                        <form th:action="@{/saveUser}"
                              method="post"
                              modelAttribute="user">
                            <div class="form-group">
                                <label for="user-id" class="col-form-label">User ID:</label>
                                <input name="id" type="text" class="form-control" id="user-id" value="" readonly>
                            </div>

                            <div class="form-group">
                                <label for="user-name" class="col-form-label">Login:</label>
                                <input name="username" type="text" class="form-control" id="user-name" value="">
                            </div>

                            <div class="form-group">
                                <label for="user-pass" class="col-form-label">Password:</label>
                                <input name="password" type="text" class="form-control" id="user-pass" value="">
                            </div>

                            <div class="form-group">
                                <label for="role" class="col-md-3 control-label">Role</label>
                                <div class="col-md-9">

                                    <select multiple id="role" name="role">
                                        <option th:each="role : ${roleList}"
                                                th:value="${role.name}"
                                                th:utext="${role.viewName}"
                                        />
                                    </select>
                                </div>
                            </div>

                            <!--<div class="col-md-offset-3 col-md-9">-->
                            <!--<input type="submit" class="btn btn-primary" value="Submit">-->
                            <!--</div>-->


                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary">Save changes</button>
                            </div>
                        </form>

                    </div>



            </div>
        </div>
    </div>


    <script>
        $('#editUserModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            var userName = button.data('user');
            var userID = button.data('id');
            var userPass = button.data('password');
            var roleSet = button.data('roleSet');
            var modal = $(this);
            modal.find('.modal-title').text('Edit user ' + userName);
            $('#user-id').attr("value", userID);
            $('#user-name').attr("value", userName);
            $('#user-pass').attr("value", userPass);
            modal.find('#user-id').text(userID);

            // get request for user roles
            $.ajax({
                url: "/rest/userRoles",
                method: "get",
                async: true,
                data: {userId: userID},
                error: function(message) {
                    console.log(message);
                },
                success: function(data) {
                    var options = modal.find('.modal-body option');
                    $.each(data.UserRoleList, function (index, value) {
                        $.each(options, function (index, optionValue) {
                            if (value.name === optionValue.value) {
                                optionValue.selected= true;
                            }
                        })
                    });
                }
            });

        })
    </script>

</div>



</body>
</html>