<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layouts/main-layout :: main-fragment(
                                                ~{::title},
                                                ~{:: #home-static-resources},
                                                ~{fragments/app-fragments :: nav-header},
                                                ~{/fragments/app-fragments :: nav-left-sidebar-user},
                                                ~{:: #home-main-content}
                                               )}">

<head>
    <title>Admin page</title>

    <th:block id="home-static-resources">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">-->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <style id="holderjs-style" type="text/css"></style>

    </th:block>

</head>
<body>

<div id="home-main-content">
    <form th:object="${user}">
        <div class="col-md-8">
            <br/>
            <h2 style="text-align: left;">User page</h2>

                <label for="name" class="col-form-label">Username: </label>
                <a type="text" th:text="*{username}" id="name"></a>
                <br/>

                <label for="password" class="col-form-label">Password: </label>
                <a type="text" th:text="*{password}" id="password"></a>
                <br/>

            <label for="roles" class="col-form-label">User Roles: </label>
            <div th:each="role: ${user.roleSet}" id="roles">
                <a th:text="${role.viewName}"></a><br/>
            </div>
        </div>
    </form>
</div>



</body>
</html>